body {
	font-size: 1em;
	font-family: Verdana Geneva Arial Helvetica sans-serif;
}

/***** TABLES *****/

table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	font-size:8pt;
	background-color: #D2D2D2;
}

tr {
	background-color: rgb(220, 250, 201);
}

th {
	background-color: #D2D2D2;
	border-width: 1px;
	border-style: inset;
}

td {
	border-width: 1px;
	border-style: inset;
}

/*** Information table ***/ 

.infotable tr {
	background-color: #D2D2D2;
}

/*.interfacetable td {
	background-color: rgb(220, 250, 201);
}*/

/*** Interface table ***/

.trackedOk {
	/*padding: 0px 0px 2px 20px;
	background: url(http://www.tontonitch.com/temp/ok_shield.png) no-repeat;*/
	background-color: green;
}
 
.trackedChange {
	/*padding: 0px 0px 2px 20px;
	background: url(http://www.tontonitch.com/temp/nok_shield.png) no-repeat;*/
	background-color: red;
}




/*
table {
border:3px solid #6495ed;
border-collapse:collapse;
width:90%;
margin:auto;
}
thead, tfoot {
background-color:#D0E3FA;
background-image:url(sky.jpg);
border:1px solid #6495ed;
}
tbody {
background-color:#FFFFFF;
border:1px solid #6495ed;
}
th {
font-family:monospace;
border:1px dotted #6495ed;
padding:5px;
background-color:#EFF6FF;
width:25%;
}
td {
font-family:sans-serif;
font-size:80%;
border:1px solid #6495ed;
padding:5px;
text-align:left;
}
caption {
font-family:sans-serif;
}
*/


/*
table.sample {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: rgb(210, 210, 210);
}
table.sample th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(210, 210, 210);
	-moz-border-radius: 3px;
}
table.sample td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(210, 210, 210);
	-moz-border-radius: 3px;
}
*/



/***** SPANS *****/

span {
	font-size: 8px;
}

.statusNotCompared { color: #808000; }
.statusOk { background-color: #00CC33; color: #fff; }
.statusChanged { background-color: #ff3300; color: #fff; }
