Makefile
config.*
etc/interfacetable_v3t.conf.httpd
etc/settings.cfg
lib/GeneralUtils.pm
lib/Settings.pm
lib/SnmpUtils.pm
libexec/check_interface_table_v3t.pl
sbin/InterfaceTableReset_v3t.cgi
subst
.*.swp
