/***** GENERAL *****/

body {
	color: #000000;
    font-family: arial,serif;
	font-family: Verdana Geneva Arial Helvetica sans-serif;
}

/***** TABLES *****/

table {
	background-color: #fff; 
	padding: 2px; 
	border: 0;
}

tr {
	background-color: #E7E7E7;
}

th {
	font-size: 10pt; 
	background-color: #707677; 
	color: #fff; 
	border: 0;
	padding: 0px 5px 0px 5px;
}

td {
	border: 0 none;
    font-size: 8pt;
	padding: 0px 5px 0px 5px;
}

/* Information table */ 

.infotable tr {
	background-color: #D2D2D2;
}

/* Interface table */

.cellInitialRun {
    color: #808000;
}

.cellTrackedOk {
	background-color: #00CC33; 
	color: #fff;
}
 
.cellTrackedChange {
	background-color: #FF3300; 
	color: #fff;
}

.cellNotTracked {
/*	background-color: #E7E7E7;*/
}

.cellExcluded {
    background-image: url(../img/overlay.png);
}

/***** SPANS *****/

span {
	font-size: 8pt;
}

