/***** GENERAL *****/

body {
	font-size: 1em;
	font-family: Verdana Geneva Arial Helvetica sans-serif;
}

/***** TABLES *****/

table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	font-size:8pt;
	background-color: #D2D2D2;
}

tr {
	background-color: rgb(220, 250, 201);
}

th {
	background-color: #D2D2D2;
	border-width: 1px;
	border-style: inset;
	padding: 2px 5px 2px 5px;
}

td {
	border-width: 1px;
	border-style: inset;
	padding: 2px 5px 2px 5px;
}

/* Information table */ 

.infotable tr {
	background-color: #D2D2D2;
}

/* Interface table */

.cellInitialRun {
    color: #808000;
}

.cellTrackedOk {
	background-color: #00CC33; 
	color: #fff;
}
 
.cellTrackedChange {
	background-color: #FF3300; 
	color: #fff;
}

.cellNotTracked {
/*	background-color: rgb(220, 250, 201);*/
}

.cellExcluded {
    background-image: url(../img/overlay.png);
    /*background-color: #D2D2D2;*/
}

/***** SPANS *****/

span {
	font-size: 8pt;
}
