/***** GENERAL *****/
body {
    color: #000000;
    font-family: arial;
}
#header {
    text-align: middle;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 9pt;
}
#footer {
    text-align: right;
    color: grey;
    font-size: 8pt;
    font-style: italic;
}

/***** TABLES *****/
table {
    background-color: #FFFFFF;
    padding: 2px;
    border-collapse: collapse;
    border-spacing: 0px;
}
tr {
    background-color: #FFFFFF;
}
th {
    font-size: 10pt;
    background-color: #D3D3D3;
    color: black;
    border: 1px solid gray;
    padding: 2px 5px 2px 5px;
}
td {
    border: 1px solid gray;
    font-size: 8pt;
    color: #3D3D3D;
    padding: 2px 5px 2px 5px;
}
#toplink {
    text-align: right;
    margin-right:4px;
    margin-top:4px;
}
#toplink a {
    font:8px/70% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
}

/* Information table */
#info table {
    width: 100%;
}
#info tr {
   background-color: #FFFFFF;
}

/* Interface table */
#interface table {
    width: 100%;
}
#interface img {
    border: 0;
    float: left;
    display: block;
    padding:0;
    margin:0;
    vertical-align:bottom;
}

/* Configuration table */
#config table {
    width: 100%;
}
#config .cellFirstColumn {
    width: 300px;
}

/* Cell styles */
.cellFirstColumn {
    background-color: #D3D3D3;
    color: black;
    font-size: 10pt;
    font-weight:bold;
}
.cellInitialRun {
    color: #808000;
}
.cellTrackedOk {
    background-color: #B2FF5F;
    color: black;
}
.cellTrackedChange {
    background-color: #FF795F;
    color: black;
}
.cellNotTracked {
    background-color: #E5E5E5;
}
.cellExcluded {
    background-image: url(../img/overlay.png);
}
